uvicorn[standard]
fastapi
SQLAlchemy[asyncio]
pydantic-settings
asyncpg
psycopg2-binary
pgvector
langchain-community
sentence-transformers[cpu]
torch-cpu
transformers[cpu]
boto3
google-generativeai
python-multipart
